* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.container a {
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.container a {
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.container a i {
    font-size: 25px;
}